<h1 mat-dialog-title>Upload Capítulo</h1>
<form [formGroup]="uploadForm">
  <div mat-dialog-content>
    <mat-form-field>
      <textarea matInput placeholder="Comentário" formControlName="comentario"></textarea>
    </mat-form-field>
    <br>
    <input #fileInput hidden="true" type="file" onclick="this.value=null" (change)="fileInputChange($event)" accept=".docx,.xlsx,.pdf"/>
    <button mat-flat-button color="primary" (click)="fileInput.click()">Escolher Arquivo</button> {{ file?.name }}
  </div>
  <div mat-dialog-actions align="end">
    <mat-spinner strokeWidth="3" [diameter]="25" *ngIf="uploading"></mat-spinner>
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button mat-button (click)="upload()" cdkFocusInitial>Upload</button>
  </div>
</form>
