mat-form-field {
    width: 100%;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}

.checkbox-wrapper {
    min-height: 50px;
    display: flex;    
}

mat-checkbox{
    align-self: center;
}