<mat-toolbar color="primary">
  <h1 style="cursor: default">Publicação de Demonstrações Financeiras</h1>
  &nbsp;&nbsp;
  <div class="example-button-row">
      <button mat-flat-button color="primary" routerLink="/relatorio">Relatório</button>
      <button mat-flat-button color="primary" routerLink="/administracao">Administração</button>
  </div>
  <span class="fill-space"></span>
  <button mat-button [matMenuTriggerFor]="menu">      
    {{ name }}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">Sair</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>