.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.box {
  display: flex;
  align-items:center;
}

.titulo {
  font-size: 32px;
  font-weight: bold;
}

.lock {
  margin-left: 5px;
}